
.userCard{
  padding:4px;
  position: fixed;
  top:0;
  right:5%;
}
html{
  background-color: burlywood;
}
#main {
  transition: margin-left .5s;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 5%;
  padding-top: 150px;
  background-color: burlywood;
  display: block;
height: 100%;
}
.showgame {
  align-items: center;
  text-align: center;
}
p.centrerad {
  text-align: center;
}

/*=====  Text och bilder i mitten av hemsidan  =====*/
.mid {
  color: #2c2a2a;
  padding-left: 45px;
  padding-right: 4%;
  margin-right: 3%;
}

.mid h2 {
  font-weight: bolder;
  font-size: 26px;
  text-align: center;
  font-family: Helvetica;
  text-shadow: 2px 2px 5px #2c2a2a;
}

.mid p {
  font-size: 20px;
  font-weight: bold;
  padding-left: 6%;
  padding-right: 6%;
  font-family: Helvetica;
}

.mid form {
  font-size: 18px;
  font-style: italic;
  font-family: Helvetica;
}

.mid img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 0%;
}

/*=====  Länkar kopplade till bilder  =====*/
.piclink {
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0%;
}

.piclink a:hover {
  color: #f1f1f1;
  font-size: 24px;
  transition: 0.5s;
  text-shadow: 2px 2px 5px #2c2a2a;
}

.piclink a {
  padding: 1px 1px 1px 1px;
  text-decoration: none;
  font-size: 18px;
  color: #2c2a2a;
  display: block;
  transition: 0.3s;
}


/*=====  skuggan till vänster som öppnar menyn  =====*/
.menyskugga {
  height: 100%;
  width: 4%;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  box-shadow: 10px 0px 5px #111;
}

.högerkant {
  height: 100%;
  width: 5%;
  position: fixed;
  z-index: 1;
  top: 0px;
  right: 0;
  background-color: chocolate;
  box-shadow: 0px 0px 5px 5px chocolate;
}
.nederkant {
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0px;
  right: 0;
  background-color: chocolate;
  box-shadow: 0px 0px 5px 5px chocolate;
}

.nederkant code {
  color: black;
  padding-top: 50%;
  font-size: 200%;
  font-weight: bold;
}

.nederkant marquee {
  position: relative;
  width: 15%;
  left: 9%;
  right: 100px;
}

/*=====  Sidomenyn till vänster  =====*/
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: chocolate;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  box-shadow: 5px 5px 5px chocolate;
}

.sidenav a,
.sidenav p {
  padding: 2px 2px 2px 2px;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 30px;
  color: #0f0f0f;
  display: block;
  transition: 0.3s;
}

p.link:hover {
  color: #f1f1f1;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav img {
  width: 90%;
  height: auto;
}

p.link {
  margin-top: 0%;
  margin-bottom: 0%;
  cursor: pointer;
}
.link{
  cursor: pointer;
}

#sidenavtop {
  padding-top: 40px;
}

#sidenavlowtop {
  padding-top: 40px;
}

#sidenavlowbot {
  padding-top: 40px;
}

span {
  align-self: auto;
}

/* ===== Login ====== */
.login {
  padding-bottom: 5%;
  text-align: center;
  align-items: center;
  margin-bottom: 1%;
}

/* ===== kontakt ===== */
#kontakt {
  height: 500px;
  width: auto;
}

.kontakt {
  font-size: large;
  font-weight: bolder;
}

.kontakt em {
  text-shadow: #0f0f0f;
  color: rgb(255, 210, 8);
}

.kontakt em:hover {
  transition: 0.7s;
  cursor: help;
  color: red;
  font-size: 45px;
  text-decoration-line: underline;
  text-decoration-thickness: 25%;
  text-shadow: 2px 2px 5px #2c2a2a;
}

input[type=button] {
  font-weight: bold;
  border-width: 3px;
  border-color: #111;
  border-radius: 3px;
  padding: 15px;
  margin:15px;
  text-align: center;
  font-size: 14px;
  float: left;
}
label{
  margin-left: 15%;
  margin-top: 15px;
  font-weight: bold;
}
input[type=text],
input[type=password],input[type=number],option{
  width: 50%;
  padding: 5px 5px;
  margin-left: 15%;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px 6px #422D17;
  color: rgb(31, 16, 16);
  font-size: 14px;
  background-color: rgb(241, 216, 186);
  font-weight: bold;
  border-width: 2px;
  border-color: #111;
  border-radius: 15px;
  text-align: center;
}

input::placeholder {
  color: rgb(102, 100, 102);
  opacity: 3;
  text-align: center;
  font-weight: bold;
}
.ng-valid.required  {
  border-left: 20px solid green;
}
.ng-invalid:not(form)  {
  border-left: 20px solid red;
}
select{
  width: 200px;
  padding: 5px 5px;
  margin-left: 15%;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px 6px #422D17;
  color: rgb(31, 16, 16);
  font-size: 14px;
  background-color: rgb(241, 216, 186);
  font-weight: bold;
  border-width: 2px;
  border-color: #111;
  border-radius: 15px;
  text-align: center;
}

